<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/modules.css">
  <link rel="stylesheet" href="/style/icons.css">
  <title>Sue & Randee Book App</title>
<head>
  
</head>
<body>
  <h1>Hello from Book</h1>
  <%=book.forEach() %>
  
</body>
</html>