<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/modules.css">
  <link rel="stylesheet" href="/style/icons.css">
  <title>Sue & Randee Book App</title>
</head>
<body>
  <main>
    <%=bye %>
    <form method="post" action="/searches">
      <input type="text" name="search" placeholder="Title or Author">
      <label for="title">Title</label>
      <input type="radio" name="searchField" value="title" checked/>
      <label for="author">Author</label>
      <input type="radio" name="searchField" value="author" />
      <button>Start your book journey!</button>
    </form>
  </main>
  
</body>
</html>