<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <title>Sue & Randee Book App</title>
</head>
<body>
  <header>
    <h1>Hello World</h1>
  </header>
 <button><a href="/searches/new"/>Click Here!</button>
  

  <script src="server.js"></script>
</body>
</html>