<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <title>Sue & Randee Book App</title>
</head>
<body>
  <header>
    <a href="#menu">
      <img src="/images/hamburgerMenu.svg" alt="">Home</a>
  </header>
 <button><a href="/searches/new"/>Click Here!</button>

    <ul>
    <% databaseBooks.forEach( book => { %>
      <li>
        <div>
          <img src="<%= book.image %>" alt="<%= book.title %>"/>
          <p>Title:    <%= book.title %></p>
          <p>Authors:    <%= book.authors %></p>
        </div>
      </li>
    <% }) %>
    </ul>

  <script src="server.js"></script>
</body>
</html>