ul {
  width: 300px;
  margin: auto;
}

li {
  padding-top: 10px;
  width: 100%;
}


.book {
  margin: auto;
  width: 100%;
  text-align: justify;
  max-height: 400px;
  overflow: scroll;
}

.title, .authors, .image .description {
  text-align: center;
  /* padding: 6px; */
  margin: auto;
  
}

.button {
  width: 50%;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

form {
  max-width: 300px;
  margin: auto;
}

